    body {
        margin: 0;
        padding: 0;
        text-align: center;
        /* !!! */
    }
    
    .top {
        margin-left: 200px;
        margin-right: 200px;
    }
    
    .mid {
        margin-left: 250px;
        margin-right: 250px;
    }
    
    .midbutton {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    
    .bot {
        margin-left: 200px;
        margin-right: 200px;
    }
    
    #regaddr {
        width: 980px;
    }
    
    #adduser {
        width: 100px;
    }